.dropdown{
    position:relative;
    display: flex;
    flex-direction: column;
    width: auto;
    border-radius: 5px;
    border: 1px solid var(--drop-down-border);
}
.anchor{
    width: 120px;
    margin-right: 30px;
    position: relative;
    margin-bottom: 20px;
}
.active{
    position: absolute;
    z-index: 1;
}

.dd_toggle{
    padding: 5px;
}

.dd_Menu{
    width: 100%;
    background-color: white;
}
.ddItem{
    padding: 5px;
    border-bottom: 1px solid var(--drop-down-border);
}
.dd_Menu .ddItem:first-child{
    border-top: 1px solid var(--drop-down-border);
}
.dd_Menu .ddItem:last-child{
    border-bottom:none ;
}
