/* Container with horizontal scrolling */
.container {
    min-width: 100%;
  }
  
  .scrollContainer {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px 0px;
    min-width: 100%;
  }
  
  /* Dropdown button */
  .dropdown {
    display: inline-block;
    min-width: 40%;
  }
  
  .dropbtn {
    padding: 10px 20px;
    min-width: 100%;
    cursor: pointer;
  }
  
  /* Dropdown content */
  .dropdownContent {
    position: absolute;
    margin-top: 20px;
    z-index: 2;
    background: white;
    border: 1px solid black;
    min-width: 120px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
  }
  
  .dropdownContent a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
  }
  
  .dropdownContent a:hover {
    background-color: lightgray;
  }
  