.filter_white{
filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(160deg) brightness(104%) contrast(104%);
}

.delBtn{
   display: flex;
   justify-content: center;
   padding: 0px 5px;
   cursor: pointer; 
}
.image_container{
    display: flex;
    justify-content: left;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border: 2px solid var(--image-border);
    border-radius: 50%;
}
.image > img{
    width: 75%;
    height: 75%;
}

.ListItemContainer{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    /* Adding more space for elements */
    padding: 20px 10px;
    /* Adding Shadow */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08)!important;
    
    /* background-color: white; */
    /* border:1px solid var(--news-boundry) ; */
}


.ListItem{
    /* background-color: var(--bg-blue); */
    border-radius: 5px;
    color: var(--text-nav);
    flex-grow: 1;
}

.LIHeading{
    font-size: 28px;
    color: var(--text-col-dark);
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 3px solid #8B80F9;
    display: inline-block;
}

.LIDate{
    font-size: 14px;
    /* margin-top: 2px; */
}

.LIDesc{
    font-size: 18px;
    margin: 10px 0px;
}

