.filter_white{
filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(160deg) brightness(104%) contrast(104%);
}

.delBtn{
   display: flex;
   justify-content: center;
   padding: 0px 5px;
   cursor: pointer; 
}
.image_container{
    display: flex;
    justify-content: left;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border: 2px solid var(--image-border);
    border-radius: 50%;
}
.image > img{
    width: 75%;
    height: 75%;
}

.ListItemContainer{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom:1px solid var(--news-boundry) ;
}


.ListItem{
    background-color: var(--bg-blue);
    /* border: 1px solid var(--black); */
    border-radius: 5px;
    /* padding: 20px; */
    color: var(--text-nav);
    flex-grow: 1;
}

.LIHeading{
    font-size: 28px;
    color: var(--text-col-dark);
    font-weight: bold;
}

.LIDate{
    font-size: 14px;
    margin-top: 2px;
}

.LIDesc{
    font-size: 18px;
    margin-top: 10px;
}

