/* Sidebar container */
.sidebar {
    width: calc(100%-40px);
    height: auto;
    background-color: var(--sidebar-bg);
    /* padding: 20px; */
    flex-grow: 1;
  }
  
  /* Profile section */
  .profile {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .profile_image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    padding-left: 0px;
    padding-top: 0px;

  }
  .img_cont{
    display: flex;
    align-items: center;
  }
  .username {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 0;
    color: var(--sidebar-text);
  }
  
  /* Links */
  .links a {
    display: block;
    text-decoration: none;
    color: var(--sidebar-text);
    padding: 8px 0 8px 20px;
    transition: background-color 0.3s ease;
  }
  
  .links a:hover {
    background-color: #ddd;
  }
  