@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --nav-bg:#FFFFFF; 
    --nav-text:#040303;
    --nav-logo-text: #0284c7;

    --text-news-i:#3D3B40;
    /* --body-bg:#FBFFFE; */
    --body-bg:white;
    /* --sidebar-bg:#3D3B40; */
    --search-border:#ced4da;
    --text-area-border:#ced4da;
    --text-box-border:#ced4da;
    --drop-down-border:#ced4da;
    --post-btn:#0284c7;
    --image-border:#ced4da;
    --news-boundry:#ced4da;
    --search-border:#ced4da;

    --sidebar-bg:#FFFFFF;
    --sidebar-text:#040303;
}

html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background-color: var(--body-bg);
    /* overflow: hidden; */
}

.hide{
    display: none;
}
.filter_grey{
    filter: invert(45%) sepia(4%) saturate(1089%) hue-rotate(167deg) brightness(97%) contrast(86%);
}
.filter_light_grey{
    filter: invert(94%) sepia(13%) saturate(107%) hue-rotate(169deg) brightness(89%) contrast(92%);
}

.filter_white{
    filter: invert(100%) sepia(1%) saturate(1542%) hue-rotate(171deg) brightness(118%) contrast(100%);
}

.filter_blue{
    filter: invert(33%) sepia(90%) saturate(1052%) hue-rotate(172deg) brightness(99%) contrast(98%);
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* outline: 1px solid coral; */
    /* background: rgb(0 100 0 / 0.1) !important; */

}

a {
    color: inherit;
    text-decoration: inherit;
}

button {
	background: none;
	color: inherit;
	/* border: none;   Messes with Tailwind Css Styling*/
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input{
    outline: none; /* Gets rid of outline on select */
    /* border: none;  To not mess with tailwind*/
    font: inherit;
}

ul {
    list-style-type: none;
}

textarea{
    font: inherit;
}
.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_column{
    display: flex;
    flex-direction: column;
}


/* Search */



.filter_head{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.filter_item{
    margin-bottom: 10px;
}

.filter_text{
    font-size: 18px;
    font-weight: 400;
}

.filter_box{
    display: flex;
    gap: 20px;
    margin-bottom: 4px;
}

/* END SEARCH */

/*NewsItem*/

/* Options */
.options{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--black);
    background-color: rgb(167, 167, 167);
}
/* NAVBAR */

.navbar{
    display: flex;
    background-color: var(--nav-bg);
    /* padding: 10px; */
    height: 60px;
    color: var(--nav-text);
    align-items: center;
}

.logo{
    display: grid;
    grid-template-columns: auto  auto ;
    gap: 5px;
    margin-right: 20px;
    padding-left: 10px;
}

.logo_text{
    margin-bottom: 3px;  
    color: var(--nav-logo-text);
}
.nav_icon_size{
    width: 2.25rem;
}
.logo_color{
    filter: invert(84%) sepia(6%) saturate(58%) hue-rotate(202deg) brightness(87%) contrast(88%);
}
.nav_links{
    max-height: 45px;
    margin-right: 10px;
    font-size: 18px;
}

.mob_sidebar_pos{
    z-index: 10;
    background-color: white;
    height: calc(100vh - 60px);
}
.underline_elt{
    font-size: 20px;
    padding-bottom: 2px;
    /* background-image: linear-gradient(#000,#000); */
    background-image: linear-gradient(#0284c7,#0284c7);
    background-repeat: no-repeat;
    background-size: 0px 2px;
    background-position: 0% 100%;
    transition: background-size 0.5s;
}
.underline_elt:hover{
    background-size: 100% 2px;
    transition: background-size 0.5s;
}

.underline_elt_wrapper{
    padding-left: 20px;
    /* margin-left: 40px; */
}
.register{
    background-color: var(--orange);
    border: 1px solid var(--orange);
    color: white;
    border-radius: 5px;
    padding: 7px;
}

/* .login{
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px;
    margin-right: 10px;
} */

.nav_auth{
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    align-items: center;
}

/* Scroll Bar */
/* .scrollbar_container{
    background-color: red;
} */

/* .scroll_container{
    scrollbar-width: 10px;
    scrollbar-color: red orange;
}

.scroll_container:hover{
    scrollbar-color: black transparent;
} */
/* For browsers that support `scrollbar-*` properties */

  
  /* Firefox
.scroll-container {
    scrollbar-width: none; 
}
  
.group:hover.scroll-container {
    scrollbar-width: thin; 
} */